@use "../../../global" as g;

.p-interview {
  // &__wrapper {
  //   width: 100%;
  // }
  &__item {
    background-image: url(../images/interview/interview01-bg-pc@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    // height: clamp(433.5px, 60.2vw, 867px);
    height: 60.2vw;
    padding-inline: 2.7778vw;
    @include g.mq(md) {
      background-image: url(../images/interview/interview01-bg-sp@2x.jpg);
      height: clamp(667px, 177.866vw, 1334px);
      padding-inline: 0;
      position: relative;
    }
    &--second {
      background-image: url(../images/interview/interview02-bg-pc@2x.jpg);
    }
  }
  &__itemInner {
    display: flex;
    // max-width: 1064px;
    max-width: 73.889vw;
    margin-inline: auto;
    @include g.mq(md) {
      display: block;
    }
    &--second {
      flex-direction: row-reverse;
    }
  }
  &__itemWrapper {
    width: 50%;
    position: relative;
    @include g.mq(md) {
      width: 100%;
      position: static;
    }
  }
  &__itemLabel {
    position: absolute;
    // top: clamp(111px, 15.41667vw, 222px);
    top: 15.4vw;
    // right: clamp(55px, 7.63889vw, 110px);
    right: 7.6vw;
    // width: clamp(185px, 24vw, 349px);
    width: 24.2vw;
    @include g.mq(md) {
      top: max(168px, 44.8vw);
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      width: max(90.6667vw, 340px);
    }
    &--second {
      right: auto;
      left: 105px;
      @include g.mq(md) {
        left: 50%;
      }
    }
    & > p {
      // font-size: clamp(1.5rem, 2.0833vw, 3rem);
      font-size: 2.08vw;
      color: g.$c-white;
      font-weight: bold;
      letter-spacing: 0.1em;
      line-height: 2.66667;
      text-align: center;
      @include g.mq(md) {
        font-size: max(8vw, 3rem);
      }
    }
  }
  &__itemWrapper {
    // @include g.mq(md) {
    //   //   background-color: g.$c-bg;
    //   //   opacity: .7;
    //   //   width: 100%;

    //   padding-block: 29px 28px;
    // }
  }
  &__itemContainer {
    position: absolute;
    right: 0;
    // top: clamp(138.5px, 19.2361vw, 277px);
    top: 19.2vw;
    @include g.mq(md) {
      background-color: g.$c-bg;
      opacity: 0.7;
      width: 100%;
      top: auto;
      bottom: 0;
      padding-block: max(7.733vw, 29px) max(7.46667vw, 28px);
    }
    &--second {
      right: auto;
      left: 0;
    }
  }
  &__itemTitle {
    font-family: g.$a-otf-futo-go-b101-pro;
    // font-size: clamp(5rem, 6.49vw, 7rem);
    font-size: 4.861vw;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.37;
    color: g.$c-white;
    @include g.mq(md) {
      font-size: max(10.6667vw, 4rem);
      line-height: 1.25;
      text-align: center;
    }
    & > span {
      font-family: g.$din-pro;
      display: flex;
      // gap: 5.4px;
      gap: 0.375vw;
      // font-size: 1.9rem;
      font-size: 1.3194vw;
      letter-spacing: -0.05em;
      line-height: 2.105;
      // margin-block-end: clamp(17px, 2.3611vw, 34px);
      margin-block-end: 2.361vw;
      @include g.mq(md) {
        font-size: max(4vw, 1.5rem);
        line-height: 2.66667;
        display: flex;
        justify-content: center;
        margin-block-end: max(2.6667vw, 10px);
      }
    }
    & img {
      // width: 143px;
      width: 9.93vw;
    }
  }
  &__itemInfo {
    margin-block-start: clamp(21.5px, 2.98611vw, 43px);
    @include g.mq(md) {
      margin-block-start: max(2.133vw, 8px);
    }
    & > p {
      font-size: clamp(1.9rem, 1.52778vw, 2.2rem);
      font-weight: bold;
      letter-spacing: 0.1em;
      line-height: 1.81818;
      color: g.$c-white;
      @include g.mq(md) {
        text-align: center;
        font-size: max(4vw, 1.5rem);
        line-height: 2.6667;
      }
    }
  }

  &__content {
    // background-color: g.$c-white;
    background-image: url(../images/interview/interview-content-bg@2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 142px 137px;
    padding-inline: 2.7778vw;
    position: relative;
    @include g.mq(md) {
      padding-inline: 30px;
      padding-block: 65px 107px;
    }
    &::before,
    &::after {
      content: "";
      background-color: g.$c-white;
      height: 4px;
      width: 100%;
      box-shadow: 0 0 22.68px g.$c-white;
      position: absolute;
      left: 0;
    }
    &::before {
      content: '';
      top: 0;
    }
    &::after {
      content: "";
      bottom: 0;
    }
  }
  &__contentInner {
    max-width: 1084px;
    width: 100%;
    margin-inline: auto;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(43.5px, 6.04vw, 87px);
    margin-block-end: clamp(44px, 6.111vw, 88px);
    @include g.mq(md) {
      flex-direction: column;
      gap: 37px;
      margin-block-end: 81px;
    }
    &:last-child {
      @include g.mq(md) {
        margin-block-end: 0;
      }
    }
  }
  &__texts {
    // max-width: 506px;
    max-width: clamp(353px, 45.9vw, 506px);
    width: 100%;
    @include g.mq(md) {
      max-width: 100%;
    }
  }
  &__contentTitle {
    font-size: clamp(2rem, 2.08333vw, 3rem);
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.333;
    // color: g.$c-blue;
    white-space: nowrap;
    @include g.mq(md) {
      font-size: max(8vw, 3rem);
      text-align: center;
    }
    & img {
      @include g.mq(md) {
        width: max(38.133vw, 143px);
        height: max(3.733vw, 14px);
      }
    }
    & > span {
      display: flex;
      align-items: center;
      gap: clamp(2.2px, 0.3vw, 4.4px);
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 0.1em;
      line-height: 2.6667;
      margin-block-end: clamp(4px, 0.55556vw, 8px);
      @include g.mq(md) {
        margin-block-end: clamp(8px, 2.133vw, 16px);
        justify-content: center;
        font-size: clamp(1.5rem, 4vw, 3rem);
      }
    }
  }
  &__text {
    margin-block-start: clamp(20px, 2.777778vw, 40px);
    @include g.mq(md) {
      margin-block-start: 19px;
    }
    & > p {
      font-weight: 500;
      line-height: 2.25;
      letter-spacing: 0.08em;
      // color: g.$c-black;
      font-size: clamp(1.3rem, 1.111vw, 1.6rem);
      text-align: justify;
      @include g.mq(md) {
        font-size: max(4.26667vw, 1.6rem);
      }
    }
  }
  &__image {
    max-width: clamp(345.5px, 44.9vw, 490px);
    width: 100%;
    height: clamp(262.5px, 34.5vw, 325px);
    flex-shrink: 0;
    @include g.mq(md) {
      max-width: 100%;
      height: auto;
    }
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
