@use "../../../global" as g;

.p-job {
  &__container {
    background-image: url(../images/job/job-category-bg-pc@2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 192px 127px;
  }
  &__title {
  }
  &__content {
    padding-inline: 2.777vw;
    padding-block: 136px 119px;
  }
  &__inner {
    max-width: 1217px;
    margin-inline: auto;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  &__item {
    background-color: g.$c-white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 52px 44px 45px;
    position: relative;
  }
  &__itemImage {
    & img {
    }
  }
  &__itemTexts {
    color: g.$c-blue;
    & span {
      background-color: g.$c-blue;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 0;
      display: block;

      &::after {
        content: "";
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 9px;
        background-color: g.$c-white;
        clip-path: polygon(8px 50%, 0% 0%, 0% 9px);
      }
    }
  }
  &__itemCircle {
    
  }
  &__itemTitle {
    & h3 {
      font-family: g.$a-otf-futo-go-b101-pro;
      font-size: 3.2rem;
      font-weight: bold;
      letter-spacing: 0.05em;
      line-height: 1.96875;
      & span {
        font-family: g.$novecent-cond-medium;
        font-size: 1.4rem;
        line-height: 1.142857;
        font-weight: 400;
        opacity: 0.5;
        margin-block-start: 9px;
      }
    }
  }
  &__text {
    margin-block-start: 8px;
    & p {
      font-size: 1.7rem;
      font-weight: bold;
      letter-spacing: 0.1em;
      line-height: 1.88;
    }
  }
}
