@use "../../../global" as g;

.p-job-detail {
    &__title {

    }
    &__image {

    }
    &__inner {

    }
    &__list {
        & ul {
            & li {

            }
        }
    }
    &__content {
        & ul {
            & li {
                & div {
                    display: flex;

                }
                & img {
                    width: clamp(582px;
                }
                & h3 {
                    font-size: clamp(1.3rem, 1.8vw, 2.6rem);
                    line-height: 1.923;
                    letter-spacing: .05em;
                    font-weight: bold;
                }
                & p {
                    font-size: clamp(1.1rem, 1.25vw, 1.8rem);
                    line-height: 2.22;
                    font-weight: bold;
                    letter-spacing: .1em;
                }
            }
        }
    }
}
