@use "../../../global" as g;

.p-job {
    &__container {
        background-image: url(../images/job/job-category-bg-pc@2x.jpg);
        background-position: center;
        background-repeat: no-repeat;
        bgs
    }
    &__title {

    }
    &__content {

    }
    &__inner {

    }
    &__list {

    }
    &__item {

    }
    &__itemImage {
        & img {

        }
    }
    &__itemTexts {
        & span {
            & svg {

            }
        }
    }
    &__itemTitle {
        & h3 {
            & span {

            }
        }
    }
    &__text {
        & p {

        }
    }
}
