@use "../../../global" as g;

.p-fields {
    &__top {
        padding-block: 31px 173px;
        // background-image: url();
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__title {

    }
    &__slogan {
        margin-block-start: 180px;
        margin-inline: auto;
        & > h3 {

        }
    }
    &__topButton {
        & > a {
            & > span {
                
            }
        }
    }
    &__content {

    }
    &__inner {

    }
    &__list {

    }
    &__item {

    }
    &__itemTitle {

    }
    &__itemText {

    }
    &__itemButton {

    }
    &__button {

    }
}
