@use "../../../global" as g;

.p-news {
  background-color: g.$c-bgAndText;
  text-align: center;
  padding-block: 62px 130px;
  color: g.$c-white;
  @include g.mq(md) {
    padding-block: clamp(73px, 19.4667vw, 146px) clamp(102px, 27.2vw, 204px);
  }
  &__title {
    margin-block-end: 53px;
    @include g.mq(sm) {
      margin-block-end: clamp(42px, 11.17vw, 84px);
    }
  }
  &__inner {
    padding-inline: 2.7778vw;
    @include g.mq(md) {
      padding-inline: 0;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: clamp(31px, 4.305556vw, 62px);
    @include g.mq(md) {
      gap: 0;
      justify-content: unset;
    }
  }
  &__item {
    max-width: 348px;
    width: 100%;
    @include g.mq(md) {
      max-width: 100%;
    }
  }
  &__image {
    width: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    text-align: left;
    margin-block-start: -15px;
    @include g.mq(sm) {
      margin-block-start: 5px;
    }
  }
  &__date {
    font-family: g.$novecent-cond-medium;
    font-size: 2.5rem;
    letter-spacing: 0.02em;
    line-height: 4;
    font-weight: bold;
    @include g.mq(sm) {
      font-size: clamp(1.8rem, 3.733vw, 2.8rem);
      line-height: 2;
    }
  }
  &__itemTitle {
    font-size: 2rem;
    letter-spacing: 0.1em;
    line-height: 1.7;
    font-weight: 500;
    margin-block-start: -30px;
    @include g.mq(sm) {
      font-size: clamp(1.4rem, 3.733vw, 2.8rem);
      letter-spacing: 0.03em;
      margin-block-start: -4px;
      line-height: 1.714;
      font-weight: bold;
    }
  }
  &__button {
    margin-inline: auto;
    margin-block-start: 49px;
    & span {
      font-weight: bold;
      letter-spacing: 0.07em;
    }
    @include g.mq(md) {
      margin-block-start: clamp(38px, 10.1vw, 80px);
    }
  }
}

.swiper-container {
  position: relative;
}
.swiper {
  overflow: hidden;
  padding-inline-start: 26px;
}
.swiper-wrapper {
  width: 100%;
}
.swiper-slide {
  width: max-content;
  flex-shrink: 0;
  height: 100%;
}
