@use "../../../global" as g;

.p-top-message {
  padding-block-end: 142px;
  // background-color: g.$c-white;
  @include g.mq(md) {
    padding-block-end: 0;
  }
  &__title {
    margin-block-end: 21px;
    @include g.mq(md) {
      margin-block-end: 12px;
    }
  }
  &__wrapper {
    max-width: 1440px;
    margin-inline: auto;
    background-image: url(../images/top/top-message-bg-pc@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // height: 690px;
    padding-block: 136px 137px;
    padding-inline: 2.7778vw;
    @include g.mq(md) {
      background-image: url(../images/top/top-message-bg-sp@2x.jpg);
      // padding-block: 130px 91.1px;
      padding-block: 34.667vw 24.29vw;
      // margin-block-end: -1px;
      padding-inline: 30px;
    }
    // @include g.mq(md) {
    //     // padding-inline-start: 26px;
    // }
  }
  &__inner {
    // padding-inline-start: 136px;
    max-width: 1167px;
    margin-inline-end: auto;
    // @include g.mq(md) {
    //     // padding-inline-start: 26px;
    // }
  }
  // &__contentTitle {
  //   font-size: 3.2rem;
  //   line-height: 3;
  //   color: g.$c-white;
  //   @include g.mq(md) {
  //     font-size: clamp(2.8rem, 7.46667vw, 5.6rem);
  //     line-height: 1.07;
  //   }
  // }
  &__text {
    margin-block-start: 28px;
  }
  &__info {
    margin-block-start: 52px;
    @include g.mq(md) {
      margin-block-start: 0;
      // margin-block-start: clamp(20px, 5.333vw, 40px);
    }
    & > p {
      font-weight: bold;
      line-height: 2.5;
      letter-spacing: 0.1em;
      color: g.$c-white;
      @include g.mq(md) {
        font-size: clamp(1.3rem, 3.46667vw, 2.6rem);
        line-height: 1.923;
      }
    }
  }
}
