@use "../../global" as g;

.c-banner {
    transition: filter .3 ease;
    &:hover {
        // opacity: 1.1;
        & img {

        }
        & p,
        & .p-news__date,
        & .p-news__itemTitle {
            filter: brightness(100%);
            opacity: .5;
        }   
    }
}
