@use "../../global" as g;

.c-button {
  font-family: g.$novecent-cond-medium;
  width: 244px;
  height: 53px;
  border-radius: 32px;
  position: relative;
  @include g.mq(md) {
    height: clamp(33px, 8.799vw, 66px);
    width: clamp(173px, 46.1333vw, 346px);
  }
  & > a {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    display: block;
    background-color: g.$c-white;
    transition: transform 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-color: g.$c-blue;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: transform 0.3s ease;
    }
    &:hover {
      opacity: 1;
      //   color: g.$c-white;
      background-color: transparent;
      & span {
        color: g.$c-white;
      }
      & svg {
        & path {
          fill: g.$c-white;
        }
      }
      &::before {
        content: "";
        transform: scale(1.1, 1.1);
      }
    }
  }
  & span {
    font-weight: 500;
    font-size: 2.6rem;
    color: g.$c-blue;
    display: block;
    text-align: center;
    line-height: 53px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    @include g.mq(md) {
      font-size: clamp(1.7rem, 4.533vw, 3.4rem);
      line-height: clamp(33px, 8.799vw, 66px);
    }
    &.is-ja {
      font-size: 2rem;
      @include g.mq(md) {
        font-size: clamp(1.2rem, 3.2vw, 2.4rem);
      }
    }
  }

  & svg:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  & svg:last-child {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
    height: 9px;
    @include g.mq(md) {
      right: clamp(9.22px, 2.45867vw, 18.44px);
      width: clamp(5px, 1.33vw, 10px);
      height: clamp(7px, 1.8667vw, 14px);
    }
  }
  &--blue {
    position: relative;
    width: clamp(122px, 16.944vw, 244px);
    height: clamp(26.5px, 3.68vw, 53px);
    @include g.mq(md) {
      width: clamp(149px, 39.733vw, 298px);
      height: clamp(33.11px, 8.8vw, 66.22px);
    }
    & > a {
      background-color: g.$c-blue;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: g.$c-white;
        transform: scale(0, 1);
        transform-origin: left top;
        // transition: transform 0.3 ease-in;
      }
      & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: clamp(39.5px, 5.486111vw, 79px);
        @include g.mq(md) {
          width: clamp(65.23px, 17.39vw, 130.46px);
        }
      }
      &:hover {
        border: solid 1px #0032b6;
        & svg {
          & path {
            fill: #0032b6;
          }
        }
        &::before {
          content: "";
          transform: scale(1, 1);
        }
      }
    }
    & span {
      line-height: clamp(26.5px, 3.68vw, 53px);
      @include g.mq(md) {
        line-height: clamp(33.11px, 8.8vw, 66.22px);
      }
    }
  }
  &--entry {
    @include g.mq(sm) {
      width: 158.42px;
      height: 34.23px;
    }
    & > a {
      & > span {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.1em;
        @include g.mq(sm) {
          font-size: 1.4rem;
          letter-spacing: 0.05em;
        }
      }
      & > svg {
        @include g.mq(sm) {
          height: 6px;
          right: 8.44px;
        }
      }
    }
  }
  &--pagination {
    @include g.mq(sm) {
      width: 193px;
      height: 42px;
    }
    & > a {
      & > span {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.1em;
        @include g.mq(sm) {
          font-size: 1.2rem;
          line-height: 42px;
        }
      }
      & > svg {
        @include g.mq(sm) {
          width: 6px;
          height: 8px;
          right: 10px;
        }
      }
    }
  }
  &--more {
    display: block;
    cursor: pointer;
    position: relative;
    border-radius: 32px;
    display: block;
    background-color: g.$c-white;
    transition: transform 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-color: g.$c-blue;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: transform 0.3s ease;
    }
    &:hover {
      opacity: 1;
      background-color: transparent;
      & span {
        color: g.$c-white;
      }
      & svg {
        & path {
          fill: g.$c-white;
        }
      }
      &::before {
        content: "";
        transform: scale(1.1, 1.1);
      }
    }
  }
  &--other {
    width: 212px;
    height: 46px;
    position: relative;
    border-radius: 32px;
    display: block;
    background-color: g.$c-white;
    transition: transform 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-color: g.$c-blue;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: transform 0.3s ease;
    }
    &:hover {
      opacity: 1;
      background-color: transparent;
      & span {
        color: g.$c-white;
      }
      & svg {
        & path {
          fill: g.$c-white;
        }
      }
      &::before {
        content: "";
        transform: scale(1.1, 1.1);
      }
    }
    & span {
      font-size: 2.2rem;
      line-height: 46px;
      font-weight: 400;
      letter-spacing: 0;
      letter-spacing: 0.07em;
    }
    & svg {
      position: absolute;
      right: 11.29px;
      top: 50%;
      transform: translateY(-50%);
      @include g.mq(sm) {
        right: 9.22px;
        width: 5px;
        height: 7px;
      }
    }
  }
  &--drawer {
    height: 46px;
    width: clamp(184px, 17.6vw, 254px);
    @include g.mq(lg) {
      width: 100%;
      height: clamp(40px, 10.6667vw, 80px);
    }
    &.is-short {
      width: clamp(171px, 15.347vw, 221px);
      @include g.mq(lg) {
        width: 100%;
      }
    }
    & span {
      font-size: clamp(1.2rem, 1.18vw, 1.7rem);
      font-weight: bold;
      letter-spacing: 0.1em;
      line-height: 46px;
      color: g.$c-bg;
      @include g.mq(lg) {
        font-size: clamp(1.4rem, 3.7333vw, 2.8rem);
        line-height: clamp(40px, 10.6667vw, 80px);
        letter-spacing: 0.05em;
      }
    }
    & svg {
      @include g.mq(lg) {
        width: clamp(7px, 1.8667vw, 14px);
        height: clamp(9px, 2.4vw, 18px);
        right: clamp(13px, 3.4667vw, 26px);
      }
    }
  }
}
