@use "../../global" as g;

.c-label {
  // background-image: url(../images/interview/label-bg-pc@2x.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  height: 100svh;
  position: fixed;
  z-index: 999999999;
  // &.js-label {
  //   opacity: 0;
  //   display: none;
  //   transition: opacity 0.5s ease;
  //   // transform: translateY(30px);
  // }
  &::before {
    content: "";
    background-image: url(../images/interview/label-bg-pc@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // opacity: 0.8;
    opacity: 0.5;
    z-index: 0;
  }
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);
    // &.js-container {
      transform: translate(-50%, 0%);
      opacity: 1;
      // transition: transform opacity .3s;
      transition: transform 0.8s ease, opacity .8s ease;

      width: 100%;
      // height: 100%;
      &.is-active {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    // }
    & > p {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      color: g.$c-white;
      font-size: clamp(3.5rem, 4.8611vw, 7rem);
      font-weight: bold;
      letter-spacing: 0.1em;
      line-height: 1.14;
      z-index: 1;
      text-align: center;
      @include g.mq(md) {
        font-size: max(8vw, 3rem);
        line-height: 2.666;
      }
    }
    & > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0; // 890.53px
      width: clamp(445.265px, 61.84vw, 890.53px);
      height: clamp(8.945px, 1.24vw, 17.89px);
      object-fit: cover;
      // object-position: left;
      @include g.mq(md) {
        width: clamp(339px, 90.4vw, 678px);
        height: clamp(6px, 1.6vw, 12px);
      }
    }
  }
}
