@use "../global" as g;

.l-entry {
  padding-block-start: 90px;
  @include g.mq(md) {
    padding-block: 94px 0;
  }
  &--second {
    padding-block: 90px 0;
    @include g.mq(md) {
      padding-block: 0 70px;
    }
  }
  &--guideline {
    padding-block: 0 clamp(118.5px, 16.458vw, 237px);
  }
  &__box {
    margin-inline: auto;
    background-image: url(../images/common/entry-bg-pc@2x.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-block: clamp(48.3px, 6.388vw, 96.6px)
      clamp(29.9px, 4.1527778vw, 59.8px);
    position: relative;
    @include g.mq(md) {
      background-image: url(../images/common/entry-bg-sp@2x.webp);
      background-size: 100% 100%;
      padding-block: clamp(69px, 18.4vw, 138px) clamp(36px, 9.6vw, 72px);
    }
    @include g.mq(sm) {
      background-size: cover;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: g.$c-white;
      box-shadow: 0 0 22.68px g.$c-white;
      @include g.mq(md) {
        height: 2px;
      }
    }
    &::before {
      content: "";
      bottom: 0;
    }
    &::after {
      content: "";
      top: 0;
    }
  }
  &__inner {
    text-align: center;
  }
  &__title {
    & img {
      margin-inline: auto;
      @include g.mq(md) {
        width: clamp(177px, 47.199vw, 354px);
      }
    }
  }
  &__titleBottom {
    margin-block-start: clamp(17.56px, 2.4388889vw, 35.12px);
    @include g.mq(md) {
      margin-block-start: clamp(21.16px, 5.64vw, 42.32px);
    }
    & img {
      margin-inline: auto;
      @include g.mq(md) {
        width: clamp(254px, 67.733vw, 508px);
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    margin-block-start: 129px;
    @include g.mq(md) {
      flex-direction: column;
      gap: clamp(15px, 4vw, 30px);
      margin-block-start: clamp(65px, 17.33vw, 130px);
    }
  }
}
