@use "../global" as g;

.home {
  .l-global-container {
    position: relative;
    top: 100px;
  }
}
.l-global-container {
  position: relative;
  top: 0;
  &.is-hidden {
    display: none;
  }
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  &.is-visible {
    visibility: visible;
    opacity: 1;
  }
}
