@use "../global" as g;

.l-header {
  background-color: transparent;
  border-bottom: 1px solid g.$c-white;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  position: fixed;
  transition: opacity 0.3s ease-in-out;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.is-scrolled {
    background-color: rgba(21, 50, 126, 0.9);
  }
  &__inner {
    padding: 18px 25px 19px 21px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    position: relative;
    @include g.mq(lg) {
      padding: 12px 11.14px 13px 12px;
    }
  }
  &__title {
    & > a {
      & svg {
        @include g.mq(lg) {
          width: 222px;
          height: 15px;
        }
      }
    }
  }
  &__overlay {
    height: 100vh;
    left: 0;
    opacity: 0;
    top: 0;
    position: fixed;
    visibility: hidden;
    width: 100vw;
    z-index: 10;
    &.is-active {
      
    }
  }
  &__hamburger {
    width: 78px;
    height: 18px;
    @include g.mq(lg) {
      width: 40.86px;
      height: 11px;
    }
    &.is-open {
      & > span {
        &:first-child {
          transition-delay: 70ms;
          transform: translateY(6px) rotate(-10deg);
          @include g.mq(lg) {
            transform: translateY(5px) rotate(-10deg);
          }
        }
        &:last-child {
          transition-delay: 140ms;
          transform: translateY(-6px) rotate(10deg);
          @include g.mq(lg) {
            transform: translateY(-3px) rotate(10deg);
          }
        }
      }
    }
    & > span {
      display: block;
      width: 78px;
      height: 5px;
      background-color: g.$c-white;
      transition: transform 0.7s;
      box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.8);
      margin-block-end: 8px;
      @include g.mq(lg) {
        box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.8);
        width: 40.86px;
        height: 3.14px;
        margin-block-end: 5px;
      }

      &:last-child {
        margin-block-end: 0;
      }
    }
  }
}
