@use "../global" as g;

.l-mobile-menu {
  // @include g.mq(lg) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  transition: opacity 0.4s ease;
  background-color: rgba(36, 61, 127, .9);
  height: auto;
  text-align: center;
  padding: 112px 2.777vw 61px;
  border-bottom: solid 1px g.$c-white;
  @include g.mq(lg) {
    padding: clamp(59px, 18.4vw, 118px) clamp(30px, 8vw, 60px) clamp(47px, 12.533vw, 94px);
    height: 100vh;
    height: 100dvh;
    overflow-y: scroll;
  }
  &.is-show {
    visibility: visible;
    opacity: 1;
    // height: 100vh;
    // height: calc(var(--vh, 1vh) * 100);
  }
  // &__outer {
  //   position: relative;
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //     width: 100%;
  //     background-color: g.$c-white;
  //     box-shadow: 0 0 8px 0 g.$c-white;
  //     height: 1px;
  //   }
  // }


  &__wrapper {
    // padding-block-end: 6px;
    // padding: 112px 2.777vw 61px;
    max-width: 1284px;
    margin-inline: auto;
  }
  &__nav {
    // padding-block-start: 123px;
  }
  &__mainList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 27px;
    @include g.mq(lg) {
      display: grid;
      grid-template-columns: 2fr 2fr;
      gap: clamp(14px, 3.733vw, 28px);
    }
  }
  &__mainItem {
    @include g.mq(lg) {
      &:first-child,
      &:nth-child(2) {
        grid-column: 1 / 3;
      }  
    }
    & > a {
      display: block;
      width: 100%;
      height: 100%;
      // font-size: 2.2rem;
      // font-weight: bold;
      // line-height: 1.81818;
      // letter-spacing: .05em;
      // position: relative;
      // display: inline-block;
      // &::after {
      //     content: '';
      //     position: absolute;
      //     left: 0;
      //     bottom: 0;
      //     background-color: g.$c-white;
      //     height: 3px;
      //     width: 100%;
      //     box-shadow: 0px 0px 22.68px 0px rgba(255, 255, 255, 1);
      // }
      & img {
        box-shadow: 0 0 13px 1px g.$c-white, inset 0 0 13px 1px g.$c-white;
        max-width: 300px;
        width: 100%;
        @include g.mq(lg) {
          max-width: 100%;
        }
      }
      & > p {
        font-size: clamp(1.3rem, 1.3492vw, 1.7rem);
        font-weight: bold;
        line-height: 2.2;
        letter-spacing: 0.01em;
        text-align: center;
        padding-block-start: 11px;
        @include g.mq(lg) {
          font-size: clamp(1.5rem, 4vw, 3rem);
          letter-spacing: .1em;
          padding-block-start: clamp(5px, 1.333vw, 10px);
          line-height: 2.5333;
          text-align: left;
        }
      }
    }
  }

  &__listWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include g.mq(lg) {
      flex-direction: column;
      gap: 41px;
    }
  }
  &__subList {
    display: flex;
    align-items: center;
    gap: 3em;
    @include g.mq(xl) {
      gap: 1.5em;
    }
    @include g.mq(lg) {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-auto-flow: column;
      // row-gap: 1em;
      gap: 0;
      justify-content: space-between;
      width: 100%;
      text-align: left;
    }
  }
  &__subItem {
    position: relative;
    & a {
      font-size: clamp(1.2rem, 1.3492vw, 1.7rem);
      line-height: 2.235;
      font-weight: bold;
      letter-spacing: 0.05em;
      @include g.mq(lg) {
        font-size: clamp(1.5rem, 4vw, 3rem);
        line-height: 2.533;
      }
    }
    &:not(:last-child)::after {
      content: "|";
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: -2em;
      @include g.mq(xl) {
        right: -.95em;
      }
      @include g.mq(lg) {
        content: none;
      }
    }
    &:last-child {
      & img {
        display: inline-block;
        position: relative;
        top: -.7em;
        margin-block-start: 6px;
        width: 16px;
        height: 14px;
        @include g.mq(lg) {
          top: -.8em;
          margin-block-start: clamp(5px, 1.333vw, 10px);
          width: clamp(14px, 3.733vw, 28px);
          height: clamp(12.25px, 3.26667vw, 24.5px);
        }
      }
    }
    // &:last-child::after {
    //   content: "";
    //   position: absolute;
    //   transform: translateY(-50%);
    //   top: 50%;
    //   right: -21px;
    //   background-image: url(../images/common/link-icon.svg);
    //   background-size: cover;
    //   background-position: center;
    //   background-repeat: no-repeat;
    //   width: 16px;
    //   height: 14px;
    //   @include g.mq(lg) {
    //     // width: 14px;
    //     // height: 12.25px;
    //     content: none;
    //   }
    // }
  }

  // &__slogan {
  //   margin-block-start: 129px;
  //   & > img {
  //     margin-inline: auto;
  //   }
  // }
  // &__icon {
  //   margin-block-start: 43px;
  //   & > img {
  //     margin-inline: auto;
  //   }
  // }
  // &__copyright {
  //   margin-block-start: 36px;
  //   & > p {
  //     font-size: 1.2rem;
  //     line-height: 2.5;
  //   }
  // }
  // }
  &__listWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: clamp(42px, 11.2vw, 84px);
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    @include g.mq(lg) {
      width: 100%;
      flex-direction: column;
      gap: 13px;
    }
  }
  &__button {
    @include g.mq(lg) {
      width: 100%;
    }
  }
}
